[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
typer = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
linkedin_scraper = "*"
black = "*"
we_get = {git = "https://github.com/rachmadaniHaryono/we-get"}

[requires]
python_version = "3.8"

[scripts]
start = "python run.py"
migrate = "python manage.py migrate"
makemig = "python manage.py makemigrations"
collect = "python manage.py collectstatic"
format = "black . --line-length 99"
