@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
}
.app{
    background-color: white;
    display: flex;
    flex-direction: row;

    &__page{
        margin: auto
    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        &__title{
            font-size: 2rem;
        }
        &__text{
            font-size: 1rem;
        }
    }

}