.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    height: 100vh;
    &__top{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__bot{
        margin-top: auto;
        display: flex;
        flex-direction: inherit;
        flex-wrap: wrap;
    }
    &__link{
        margin: 1rem;
        color: black;
    }
}