:root{
    --bg-color: black;
    --font-color: white;
    --hover-color: #fcba03;
    --font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
    display: flex;
}

.content--center{
    width: 100%;
    display: flex;
    justify-content: center;
}
